/* General Styles */
/* Apply to all sizes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
}

a {
  text-decoration: none;
  color: black;
}


header {
  position: sticky;
  top: 0;
  background: #eee;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;

}


input {
  display: block;
  margin: 10px auto;
}

input[type="email"] {
  width: 260px;
  padding: .4em 0 .4em .4em;
}

input[type="submit"] {
  background: #f1c40f;
  border: none;
  border-radius: 2px;
  padding: .3em 1em;
  font-weight: bold;
  font-size: 1.1em;
}


.nav-1 {
  display: flex;
  align-items: center;
}

.nav-1 > a {
  margin: .3em;
  font-size: 1.1em;
}

header + h2 {
  text-align: center;
}


.hype {
  display: flex;
  margin-top: 50px;
}

.hype > div {
  margin: 10px auto;
  text-align: center;
}

iframe {
  display: block;
  max-width: 500px;
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* Add Breakpoints Here */
@media (max-width: 500px) {

.hype > img {
  display: none;
}

header {
  flex-direction: column;
}

nav:first-of-type {
  flex-direction: column;
}

}


/* Apply to certain size and above */
