/* General Styles */
/* Apply to all sizes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
}

a {
  text-decoration: none;
  color: black;
}


header {
  position: sticky;
  top: 0;
  background: #eee;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  z-index: 1;
}


input {
  display: block;
  margin: 10px auto;
}

input[type="email"] {
  width: 260px;
  padding: .4em 0 .4em .4em;
}

input[type="submit"] {
  background: #f1c40f;
  border: none;
  border-radius: 2px;
  padding: .3em 1em;
  font-weight: bold;
  font-size: 1.1em;
}


.nav-1 {
  display: flex;
  align-items: center;
}

.nav-1 > a {
  margin: .3em;
  font-size: 1.1em;
}

header + h2 {
  text-align: center;
}


.hype {
  display: flex;
  margin-top: 50px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.hype > img {
  margin-right: 8vw;
  margin-left: 5vw;
}



iframe {
  display: block;
  max-width: 500px;
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

main {
  display: flex;
  align-items: center;
  max-width: 800px;
}

.trombone-sale {
  border: 1px solid black;
  text-align: center;
  width: 270px;
  height: 270px;
  margin-top: 20px;
}

h3 {
  background: #ddd;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.trombone-sale > p:first-of-type {
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.trombone-sale > p {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.trombone-sale > a {
  background: #f1c40f;
  border: none;
  border-radius: 2px;
  padding: .3em 1em;
  text-transform: uppercase;
  font-size: 1.1em;
  position: relative;
  top: 30px;
}

footer {
  padding: 20px 5px 10px 0;
  margin-top: 30px;
  background: #ddd;
  text-align: right;
}
.nav-2 > a {
  display: inline;
  padding-bottom: 20px;
  padding-left: 15px;
  font-size: 1.2em;
}

nav + p {
  color: #676767;
}




/* Add Breakpoints Here */
@media (max-width: 550px) {

.hype > img {
  display: none;
}

header {
  flex-direction: column;
}

nav:first-of-type {
  flex-direction: column;
}

.hype > div {
  margin: 10px auto;
  text-align: center;
}

main {
  flex-direction: column;
}
}

@media (max-width: 800px)and  (min-width: 551px) {

  main {
    flex-direction: column;
  }
  header {
    justify-content: space-between;
  }



}

@media (min-width: 801px) {
  header {
    justify-content: space-between;
  }

  main {
    margin-left: auto;
    margin-right: auto;
  }
  .trombone-sale {
    margin-right: 15px;
  }
}


/* Apply to certain size and above */
